.navbar{
  z-index: 99999;
  /* background-color:white; */
  background: #4f5d69;
  height: 90px;
  display: flex;
}

.nav-item{
  margin:0px 10px;
  color:darkorange;
  font-size:larger;
}

.navbar-brand{
    color:darkorange;
}
button{
  color:darkorange;
  border: none;
  /* background-color: white; */
  font-size:larger;
}
/* .logout{
  background-color: none;
} */